
/* Fonts 
-----------------------------------------------------------*/
.kiwi-maru-light {
    font-family: "Kiwi Maru", serif;
    font-weight: 300;
    font-style: normal;
}
.kiwi-maru-medium {
    font-family: "Kiwi Maru", serif;
    font-weight: 500;
    font-style: normal;
}
.merienda-light {
    font-family: "Merienda", cursive;
    font-weight: 300;
    font-style: normal;
}
.merienda-medium {
    font-family: "Merienda", cursive;
    font-weight: 500;
    font-style: normal;
}


/* Universal 
-----------------------------------------------------------*/
:root {
    --header: #c03221;
    --labels: #3f826d;
    --selection: #f2d0a4;
    --accent: rgb(84, 94, 117);
    --other: #4f6d7a;
    --white: white;
    --black: black;
    --border: #0000003a;

}

* {
    font-family: "Kiwi Maru", serif;
    font-weight: 300;
    font-style: normal;

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


/* Body 
-----------------------------------------------------------*/
body {
    background: var(--accent);

    margin: 0 auto;
    max-width: 95%;
    color: var(--white);
}
h1, h2, h3 {
    font-family: "Merienda", cursive;
    font-weight: 500;
    font-style: normal;
}


/* Header 
-----------------------------------------------------------*/
header {
    background: var(--header);
    border-bottom-right-radius: 1.1rem;
    border-bottom-left-radius: 1.1rem;
    padding: .5rem;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: end;
}
header img {
    width: 70px;
}
header div {
    color: var(--white);

    padding: .75rem;

    text-align: center;
}
header div span {
    font-family: "Merienda", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;

    margin: 0;
}
header div p {
    font-size: .75rem;
}
header div.navbuttons {
    display: flex;
    padding: 0;
}
#hambutton {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
    
    padding: 0;
    margin: 0;
    
    width: 44px;
    height: 44px;
    text-align: center;
}
#hambutton::before {
    content: "☰";
}
#hambutton.open::before {
    content: "X";
}

/* Nav 
-----------------------------------------------------------*/
nav {
    background: var(--labels);
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;

    grid-area: 2/1/3/5;
    display: none;
    
    width: 100%;
        
    transition: grid-template-rows .5s ease-out;
}
nav ul {
    overflow: hidden;
}
nav.open {
    display: grid;
    grid-template-rows: 1fr;
}
ul.menuLinks li a {
    color: var(--white);
    text-decoration: none;
    
    padding: .75rem;
    min-height: 45px;
    
    display: block;
}
.active.active a {
    background-color: rgba(0, 0, 0, .2);
    color: var(--white);
}
ul.menuLinks {
    list-style-type: none;

    width: 100%;
}
ul.menuLinks a:hover {
    background: rgba(255, 255, 255, .2);
}


/* Main 
-----------------------------------------------------------*/
.card {
    background: var(--border);
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    padding-bottom: .75rem;
}
.card ul, .card p {
    padding: .5rem 0;
    border-bottom: dashed 1px #000;
    width: 90%;
}
.card h2, .card h3 {
    background: var(--labels);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: .5rem;
    margin: 0 auto .5rem auto;
    max-width: 100%;
}
.card h3 {
    font-size: 1.5rem;
}
.card img {
    width: 95%;
    max-width: 300px;
}


/* Footer 
-----------------------------------------------------------*/
footer {
    background: var(--header);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: var(--white);

    padding: 1rem;
    text-align: center;
}
footer p {
    font-size: .8rem;
}
.sociallinks {
    background: none;

    display: flex;
    justify-content: center;
}
.sociallinks a {
    margin: .5rem;
}

nav a img {
    width: 44px;
    margin: 0;
    padding: 0;
}


/* Home 
-----------------------------------------------------------*/
.hero img {
    border-radius: 1.5rem;
    width: 100%;
}
h2 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}
#weather img {
    max-height: 100px;
    max-width: 100px;
}




/* Events 
-----------------------------------------------------------*/
.card ul {
    list-style-type: none;
    padding-top: .25rem;
}
#events .event {
    display: grid;
    grid-template-areas:
    "header"
    "image"
    "date"
    "cost"
    "requirements"
    "desc";
}
.title {
    width: 100%;
    grid-area: header;
}
.image {
    grid-area: image;
}
.date {
    grid-area: date;
}
.cost {
    grid-area: cost;
}
.requirements {
    grid-area: requirements;
}
.desc {
    grid-area: desc;
}


/* Join 
-----------------------------------------------------------*/
.form {
    margin: 0;
    padding-bottom: 1rem;
    text-align: left;
}
form > * {

    padding-left: .5rem;
    display: block;
}
label input, textarea {
    margin-top: .25rem;
}
input,
textarea {
    border: 1px solid var(--border);
    border-left-width: .5rem;
    border-left-color: var(--selection);
    border-radius: .5rem;
    
    padding: .5rem;
    
    display: block;
    min-height: 44px;
}
input:required {
    border-left-color: var(--labels);
}
input:required:valid {
    border-left-color: var(--selection);
}
input[type="submit"],
button {
    background: var(--labels);
    border: 1px solid var(--border);
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
    
    margin: 1rem;
    padding: .7rem 1rem;

    min-width: 44px;
    min-height: 44px;
}
input[type="submit"]:hover, 
button:hover {
    background: #659B8A;
}
.membership span {
    padding: 1rem;
    font-size: 1.5rem;
}
.membership > button {
    width: 40%;
}
.perks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.perks img {
    border-radius: .5rem;
    max-width: 100px;
    margin: 2.75rem;
}
dialog {
    background: var(--accent);
    color: var(--white);
    box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 1.2rem;
    
    margin: auto;
    min-height:  fit-content;
    height: 10rem;
    width: 80%;
    max-width: 30rem;
    
    text-align: left;
  
    animation: pop-in 2s ease-out;
}
dialog.closing {
    animation: pop-out .75s ease-in;
}
dialog > * {
    padding: 1rem;
}
#modal h {
    padding: 1rem;
    padding-right: 4rem;
}
dialog button {
    border-radius: .75rem;
    border: none;

    position: absolute;
    right: .5rem;
    bottom: .5rem;
}
dialog h3 {
    font-weight: 500;
}
#modal ul {
    padding-left: 3rem;
    border-bottom: none;
}
::backdrop {
    background: rgba(84, 94, 117, 0.4);
}
@keyframes pop-in {
    from {
        transform: scale(0%);
        /* opacity: 0; */
    }
    to {
        transform: scale(100%);
        /* opacity: 1; */
    }
}
@keyframes pop-out {
    from {
        transform: scale(100%);
    }
    to {
        transform: scale(0%);
    }
}


/* Siteplan 
-----------------------------------------------------------*/
#mobile-img {
    width: 50%;
    max-width: 250px;
}

#pc-img {
    width: 100%;
    max-width: 600px;
}
#red {
    background: var(--header);
    width: 80%;
    border-radius: 1rem;
    margin: .25rem auto;
}
#blue {
    background: var(--accent);
    width: 85%;
    border-radius: 1rem;
    margin: .25rem auto;
}
#green {
    background: var(--labels);
    width: 80%;
    border-radius: 1rem;
    margin: .25rem auto;
}