
/* Fonts 
-----------------------------------------------------------*/
.kiwi-maru-light {
    font-family: "Kiwi Maru", serif;
    font-weight: 300;
    font-style: normal;
}
.kiwi-maru-medium {
    font-family: "Kiwi Maru", serif;
    font-weight: 500;
    font-style: normal;
}
.merienda-light {
    font-family: "Merienda", cursive;
    font-weight: 300;
    font-style: normal;
}
.merienda-medium {
    font-family: "Merienda", cursive;
    font-weight: 500;
    font-style: normal;
}


/* Universal 
-----------------------------------------------------------*/
:root {
    --header: #084c61;
    --labels: #db504a;
    --selection: #56a3a6;
    --accent: #e3b505;
    --other: #4f6d7a;
    --white: white;
    --black: black;
    --border: #0000003a;

}

* {
    font-family: "Kiwi Maru", serif;
    font-weight: 300;
    font-style: normal;

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


/* Body 
-----------------------------------------------------------*/
body {
    background: var(--accent);

    margin: 0 auto;
    max-width: 95%;
}
h1, h2, h3 {
    font-family: "Merienda", cursive;
    font-weight: 500;
    font-style: normal;
}


/* Header 
-----------------------------------------------------------*/
header {
    background: var(--header);
    border-bottom-right-radius: 1.1rem;
    border-bottom-left-radius: 1.1rem;
    padding: .5rem;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: end;
}
header img {
    width: 70px;
}
header div {
    color: var(--white);

    padding: .75rem;

    text-align: center;
}
header div span {
    font-family: "Merienda", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;

    margin: 0;
}
header div p {
    font-size: .75rem;
}
header div.navbuttons {
    display: flex;
    padding: 0;
}
#hambutton, #theme {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--white);
    cursor: pointer;
    
    padding: .25rem 2vw;
    margin: 0;
    
    width: 44px;
    text-align: right;
}
#theme {
    padding: 0;
    margin: 0;
}
#hambutton::before {
    content: "☰";
}
#hambutton.open::before {
    content: "X";
}

/* Nav 
-----------------------------------------------------------*/
nav {
    background: var(--labels);
    border-bottom-left-radius: .75rem;
    border-bottom-right-radius: .75rem;

    grid-area: 2/1/3/5;
    display: none;
    
    width: 100%;
        
    transition: grid-template-rows .5s ease-out;
}
nav ul {
    overflow: hidden;
}
nav.open {
    display: grid;
    grid-template-rows: 1fr;
}
ul.menuLinks li a {
    color: var(--black);
    text-decoration: none;
    
    padding: .75rem;
    min-height: 45px;
    
    display: block;
}
.active.active a {
    background-color: rgba(0, 0, 0, .2);
    color: var(--white);
}
ul.menuLinks {
    list-style-type: none;

    width: 100%;
}
ul.menuLinks a:hover {
    background: rgba(255, 255, 255, .2);
}


/* Main 
-----------------------------------------------------------*/
main {
    max-width: 95%;
}
.card {
    background: rgba(0, 0, 0, .2);
    border-radius: 1rem;
    
    margin: 1rem;
}
.card img {
    padding: .75rem;
}
.card div {
    padding: 0 1rem 1rem 1rem;
}
p a {
    color: var(--black);
}
.buttons {
    width: 100%;
    text-align: center;
}
button {
    background: var(--labels);
    border: 1px solid var(--border);
    border-radius: 10px;
    cursor: pointer;
    
    margin: 0 1rem;
    padding: .7rem 1rem;
}
button:hover {
    background: rgb(222,119,110);
}
button.active {
    background-color: rgb(175,63,59);
    color: var(--white);
}


/* Home */
.hero {
    position: relative;

}
.hero img {
    width: 100%;
    height: auto;
}
#event {
    background: var(--labels);
    border: none;
    border-radius: .5rem;
    color: var(--black);
    font-size: 1rem;
    cursor: pointer;
    
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#event button {
    background: none;
    border: none;
    border-radius: .5rem;

    padding: 0.75rem 1.5rem;
}
#event button:hover {
    background: rgba(255, 255, 255, .2);
}

.home section {
    min-width: 20rem;
}
#events {
    width: 45%;
}
.home section h2 {
    background: var(--labels);
    border-top-left-radius: .9rem;
    border-top-right-radius: .9rem;
    
    padding: .5rem;
    margin-bottom: 1rem;
    
    text-align: center;
}
.home div {
    padding: 1rem;
}
#weather {
    display: grid;
    grid-template-columns: auto auto;
}
#weather h2 {
    grid-column: 1/3;
    width: 100%;
}
#weather.card img {
    padding: 0;
}
#forecast div p {
    padding: .5rem;
}


/* Directory */
.list section {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: left;
}
.list img {
    display: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* Join */
.form {
    margin: 0;
    padding: .25rem;
    padding-bottom: 1rem;
}
form > * {
    padding: .5rem;
    
    display: block;
}
form {
    background: rgba(0, 0, 0, .2);
    border-radius: 1rem;

    margin-top: 1rem;
    padding-bottom: .25rem;
}
label input, textarea {
    margin-top: .25rem;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    border: 1px solid var(--border);
    border-left-width: .5rem;
    border-left-color: var(--header);
    border-radius: .5rem;
    
    padding: .5rem;
    
    display: block;
    min-height: 44px;
}
input[type="radio"] {
    cursor: pointer;
    width: 25px;
    height: 25px;
}
input:required {
    border-left-color: var(--labels);
}
input:required:valid {
    border-left-color: var(--selection);
}
input[type="submit"] {
    background: var(--labels);
    border: 1px solid var(--border);
    border-radius: 10px;
    cursor: pointer;
    
    margin: 1rem;
    padding: .7rem 1rem;
}
input[type="submit"]:hover {
    background: rgb(222,119,110);
}
.membership div {
    background: rgba(0, 0, 0, .2);
    border-radius: 1rem;

    margin-top: 1rem;
    padding: 1rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.membership div span {
    font-family: "Merienda", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 1.25rem;
}
.membership div button {
    margin-top: 2rem;

    width: 40%;
}
#levels div:last-of-type {
    margin-bottom: 1rem;
}
#levels div {
    animation: wiggle 0.5s ease-in-out infinite;
    animation-delay: calc(var(--delay, 0s));
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
#levels div:nth-of-type(1) {
    --delay: 0s;
}
#levels div:nth-of-type(2) {
    --delay: .9s;
}
#levels div:nth-of-type(3) {
    --delay: 1.8s;
}
#levels div:nth-of-type(4) {
    --delay: 2.7s;
}
@keyframes wiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(1.5deg);
    }
    50% {
        transform: rotate(-1.5deg);
    }
    75% {
        transform: rotate(1deg);
    }
}


/* Dialog */
dialog {
    background: var(--header);
    color: var(--white);
    box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border);
    border-radius: .5rem;
    
    margin: auto;
    max-height: fit-content;
    width: 80%;
    
    text-align: left;
  
    animation: pop-in 2s ease-out;
}
dialog.closing {
    animation: pop-out .75s ease-in;
}
dialog > * {
    padding: 1rem;
}
#level-modal h2 {
    padding: 1rem;
    padding-right: 4rem;
}
dialog button {
    position: absolute;
    right: 0rem;
    top: .5rem;
}
dialog h3 {
    font-weight: 500;
}
dialog ul {
    padding-left: 3rem;
}
::backdrop {
    background: rgba(216, 194, 134, 0.8);
}
@keyframes pop-in {
    from {
        transform: scale(0%);
        /* opacity: 0; */
    }
    to {
        transform: scale(100%);
        /* opacity: 1; */
    }
}
@keyframes pop-out {
    from {
        transform: scale(100%);
    }
    to {
        transform: scale(0%);
    }
}


/* Thank You */
#thanks {
    background: rgba(0, 0, 0, .2);
    border-radius: 1rem;

    padding: 1rem;
    margin-bottom: 1rem;
}
#thanks > * {
    padding: .25rem;
}


/* Footer 
-----------------------------------------------------------*/
footer {
    background: var(--header);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    color: var(--white);

    padding: 1rem;
}
footer p {
    font-size: .8rem;
}
.sociallinks {
    background: none;

    display: flex;
    justify-content: center;
}
.sociallinks a {
    margin: .5rem;
}
nav a img {
    width: 25px;
}

