@media screen and (min-width: 60rem) {

    header {
        grid-template-columns: 160px 1fr 70px;
    }

    header img {
        width: 125px;
    }

    header div span {
        font-size: 4rem;
        margin: 0;
    }

    header div p {
        font-size: 1rem;
    }

    #hambutton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open{
        display: flex;
        width: 100%;
    }

    nav {
        display: grid;
        grid-template-rows: 1fr;
    }

    .list img {
        display: flex;
        width: 270px;
        height: 180px;
    }

    .join {
        display: flex;
        justify-content: space-around;
    }
    
    .join section {
        width: 46%;
    }

    .membership {
        margin: 0;
    }

    footer {
        display: flex;
        text-align: left;
    }

    nav a img {
        width: 50px;
    }

    footer p {
        font-size: 1rem;
    }
}