@media screen and (min-width: 60rem) {

    header h1 {
        font-size: 3.5rem;
    }

    header {
        grid-template-columns: 160px 1fr 70px;
    }

    header img {
        max-width: 150px;
    }

    header div span {
        font-size: 3rem;
        margin: 0;
    }

    header div p {
        font-size: 1rem;
    }

    #hambutton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open{
        display: flex;
        width: 100%;
    }

    nav {
        grid-template-rows: 1fr;
    }

    .list img {
        display: flex;
        width: 270px;
        height: 180px;
    }

    footer {
        display: flex;
        text-align: left;
    }

    nav a img {
        width: 50px;
    }

    footer p {
        font-size: 1rem;
    }
}