/* Fonts */
.kiwi-maru-light {
  font-family: "Kiwi Maru", serif;
  font-weight: 300;
  font-style: normal;
}
.kiwi-maru-medium {
  font-family: "Kiwi Maru", serif;
  font-weight: 500;
  font-style: normal;
}
.merienda-light {
  font-family: "Merienda", cursive;
  font-weight: 300;
  font-style: normal;
}
.merienda-medium {
  font-family: "Merienda", cursive;
  font-weight: 500;
  font-style: normal;
}



/* Styling */
:root {
  --bookends: #6DAEC4;
  --labels: #255957;
  --text: #F4F2D6;
  --selection1: #a98743;
  --selection2: #f7c548;
  --black: #000000;
  --white: #ffffff;
  --border: #0000003a;
}
* {
  font-family: "Kiwi Maru", serif;
  font-weight: 300;
  font-style: normal;

  margin: 0 auto;
  padding: 0;
  max-width: 900px;

  box-sizing: border-box;
}



/* Header */
header {
  background: var(--bookends);

  padding: 1rem;
  padding-right: 4rem;

  display: flex;
  justify-content: center;
  align-items: center; 
}
header img {
  box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.1);
  border-radius: .5rem;

  margin-right: .5rem;
}
header span {
  color: var(--black);
  font-size: 2rem;
}



/* Navigation */
nav {
  background: var(--labels);

  display: none;
}
nav.open {
  display: flex;
  flex-direction: column;
}
nav a {
  border-bottom: 1px solid var(--border);
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
  
  padding: .5rem;
  width: 100%;
  
  text-align: center;
}
nav a:hover {
  background: var(--selection1);
  color: var(--labels);
}
#hambutton {
  color: var(--black);
  text-decoration: none;
  font-size: 2.5rem;

  padding: .5rem;

  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#hambutton:hover {
  color: var(--selection1);
}
#hambutton::before {
  content: "☰";
}
#hambutton.open::before {
  content: "X";
}
#hambutton.open {
  position: absolute;
  top: 1rem;
  right: 1rem;
}



/* Main */
h1 {
  font-family: "Merienda", cursive;
  font-weight: 500;
  font-style: normal;

  margin-left: 1rem;
}
ul {
  margin: 2rem;
}
figure {
  margin: .5rem;
}
main img {
  border-radius: .5rem;
}
.card {
  box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: rgb(243, 243, 243);

  margin: 1rem 1rem;

  text-align: center;
}
.card h2 {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: var(--labels);
  color: var(--text);
  font-family: "Merienda", cursive;
  font-weight: 500;
  font-style: normal;

  margin: 0;
  padding: .5rem;
  width: 100%;

  align-self: flex-start;
}
button {
  box-shadow: 2px 2px 5px 2.5px rgba(0, 0, 0, 0.288);
  border: 1px solid var(--border);
  border-radius: .5rem;
  background: var(--selection1);

  margin: .5rem 0;
  padding: .5rem;
  min-height: 44px;
  min-width: 44px;
}
button:hover {
  box-shadow: none;
  background: var(--selection2);
}
#courses div {
  border-radius: .75rem;
  
  margin: .75rem;
  padding: .75rem;
}
.completed {
  background: var(--selection2);
}
.need {
  background: var(--selection1);
}
#credits p {
  font-size: .5rem;
}


/* Dialog */
dialog {
  box-shadow: 0 0 5px 2.5px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border);
  border-radius: .5rem;
  
  margin: auto;
  max-height: fit-content;
  width: 80%;
  
  text-align: left;
  position: relative;
}
dialog > * {
  padding: 1rem;
}
#course-details h2 {
  padding: 1rem;
}
dialog button {
  position: absolute;
  right: 1.5rem;
  top: -.25rem;
}
dialog h3 {
  font-weight: 500;
}
::backdrop {
  background: rgba(216, 194, 134, 0.8);
}



/* Footer */
footer {
  background: var(--bookends);
  
  padding: 1rem;

  text-align: center;
}
footer p {
  padding: .25rem;
}